---
const skills = [
    "HTML",
    "CSS",
    "JavaScript",
    "Astro",
    "Git",
    "GitHub",
];
---
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
        
        <p>Bienvenido a la página de About de Astro.</p>
        <p>Esta es una página de ejemplo para mostrar cómo funciona Astro.</p>
        <h2>Mis Habilidades</h2>
        <ul>
            {skills.map(skill => (
                <li>{skill}</li>
            ))}
        </ul>
        <h2>Sobre mí</h2>
	</body>
</html>