---
import Navegation from "./components/navegation.astro";

const pageTitle = "Mi primera página con Astro";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<Navegation />
		<h1>Principal</h1>
		<p>Bienvenido a la página principal de Astro.</p>
	</body>
</html>

<style>
	body {
		background-color: #8981ff;
		font-family: Arial, sans-serif;
		margin: 0;
		padding: 20px;
	}
	h1 {
		color: #6727ff;
		font-size: 2em;
		margin-bottom: 20px;
	}
	p {
		color: #efe6ff;
		font-size: 1.2em;
		line-height: 1.5;
	}		
</style>
